.btn, .button, button{
    @include latomd;
    line-height: 36px;
    color:$blu;
    padding:0px 10px !important;
    border:1px solid $blu;
    line-height: 36px !important;
    @include border-radius($myrad !important);
    display:inline-block !important;
    &.lg{ font-size:24px; line-height:48px;}
    &:active, &:focus{
    text-decoration:none;}     
    &:hover{
    background:$blu; color:#fff;
    text-decoration:none;
    opacity:1;
    *{color:#fff;}}
}


/*contact form*/
div.wpcf7-mail-sent-ok {
border: 2px solid #398f14;
background: #398f14;
position: absolute;
top: 20%;
width: 130%;
margin: 0 -15%;
height: auto;
vertical-align: middle;
}