@import "mixins";
@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

@mixin border-radius($rad1, $rad2:false, $rad3:false, $rad4:false) {
 $params: $rad1;
  @if $rad2 
    { $params: $rad1, $rad2; }
    @if $rad3 != false
      { $params: $rad1, $rad2, $rad3; }
      @if $rad4 != false
        { $params: $rad1, $rad2, $rad3, $rad4; }
        
  -webkit-border-radius: $params;
  -moz-border-radius: $params;
  border-radius: $params;
}




@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
 $params: $shadow1;
  @if $shadow2 
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}


@mixin trans($numb){-webkit-transition:all $numb ease-in-out;
     -moz-transition:all $numb ease-in-out;
       -o-transition:all $numb ease-in-out;
          transition:all $numb ease-in-out;}

@mixin animate($numb, $numb2, $numb3, $numb4){-moz-animation-duration: $numb2;
 -moz-animation-delay: $numb3;
 -moz-animation-iteration-count: $numb4;
 -moz-animation-name: $numb;
 -o-animation-duration: $numb2;
 -o-animation-delay: $numb3;
 -o-animation-iteration-count: $numb4;
 -o-animation-name: $numb;
 animation-duration: $numb2;
 animation-delay: $numb3;
 animation-iteration-count: $numb4;
 animation-name: $numb;
}



/*popRocks v1*/
/*popRocks v1*/
#btn-tip-main {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 200; z-index: 0;
    -webkit-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
  i.btn-tip-close {color: #000000; cursor: pointer; font-size: 1rem; position: absolute; right: 0; top: 0;}
  #btn-tip-box {background: none repeat scroll 0 0 #ffffff;
    color: #2f2f2f;
    display: block;
    margin: 15% auto 0;
    max-width: 400px;
    padding: 20px 10px 50px;
    position: relative !important;
    z-index: 0;}
  &.open {opacity: 1; pointer-events:auto; z-index:99999;
    #btn-tip {z-index: 9999 !important;}
  }
}





