/*slider*/

.slider-one-image-section {
    line-height: 0 ;
}
.ssjp_div {
    padding: 0 !important;
}
#s_holder {
    margin-left: 0 !important;
}
#s_navigation > div {
    float: none !important;
    margin-bottom: 0 !important;
    text-align: center !important;
}

#slippy-slider-container {
	#s_navigation span {display: inline-block !important; background:#000; float: none !important; border:none !important; }
	.ssjp_prev, .ssjp_next {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 2px solid #afafaf;
    text-align: center;
    @include border-radius(100px);
    height: 60px;
    opacity: 0;
    width: 60px; }
	.ssjp_next:before, .ssjp_prev:after {content: ""; font-family: icomoon; line-height: 60px; }
    .ssjp_prev:after {content: "";}
    &:hover {
		.ssjp_prev, .ssjp_next {@include animate(fadeInDown, 750ms, 0, forwards); opacity: 1;
			&:hover {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1) !important; border-color: #9f9f9f !important; color: #9f9f9f;}
		}
    }
}





.fpd-icon-sb-right  {
	&.fpd-container {margin-right: 0 !important; float:none !important;
			.fpd-sidebar {overflow: hidden; width:30%; border-left:none !important; min-height: 200px !important; margin:0 !important;
				.fpd-navigation {height: 60px; display: block; width: 100% !important; 
					&> * {width: 50%; @include border-box; float: left; background:#222; color:#555;}
					.fpd-nav-item.active {background:#333; color: #fff}
				}
				.fpd-content {width: 100% !important; background:#333;}
			}
			.fpd-product-container {
				border:solid 1px #555 !important;
				overflow: hidden;
				margin: 0;
				.fpd-menu-bar {height: 60px; font-family: lato;

					.fa-image {margin-right: 5px;}
					.fpd-zoom-reset {display: none !important;}
					.fpd-clearfix:first-child > * {line-height: 60px; color: #555; 
						&:hover {color:#fff;}
						&:first-child:hover {background:#000;}
					}
					.fpd-clearfix:last-child > * {margin:5px; background:#555; @include border-radius($myrad);
						&:hover {background:#666;}}

				}
			}
	}
	.fpd-primary-bg-color {background:#333 !important;}
	.fpd-border-color {border-color: #555 !important;}
	.canvas-container {background: #fff;}
}

#single.woocommerce {
	.row {max-width: 1000px;}
}


@media only screen and (min-width: 769px){
	.fpd-product-container {width: 70% !important; }
}

@media only screen and (max-width: 768px){
	.fancy-product {
		.small-wall {padding:0;}
		section.fpd-product-container {
			overflow: hidden;
			width: 100% !important; }
		section.fpd-sidebar.fpd-border-color.fpd-secondary-bg-color.fpd-clearfix {
			width: 100%;
			clear: both;
			min-height: 40px; }
		.fpd-navigation.fpd-primary-bg-color {
		    float: none; }
		.fpd-content.fpd-primary-text-color {
		    float: none;
		    clear: both; }
	}
}