.fpd-icon-sb-right  {
 	.fpd-sidebar {margin:0 !important;}

	&.fpd-container {margin-right: 0;
		.fpd-product-container  {margin-right: 0;}
	}

}

@media only screen and (max-width: 768px){
		.fancy-product {
			.small-wall {padding:0;}
			section.fpd-product-container {height: 80vh !important;
			overflow: hidden;
			background: red; }
			section.fpd-sidebar.fpd-border-color.fpd-secondary-bg-color.fpd-clearfix {
			height: auto !important;
			min-height: 40px; }
			.fpd-navigation.fpd-primary-bg-color {
			    float: none; }

			.fpd-content.fpd-primary-text-color {
			    float: none;
			    clear: both; }
		}
}