/* mandatory */
.snap-content {top: 0; right: 0; bottom: 0; left: 0; width: auto; height: auto; z-index: 2; overflow: auto; -webkit-overflow-scrolling: touch; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.snap-drawers {top: 0; right: 0; bottom: 0; left: 0; width: auto; height: auto; }
.snap-drawer {position: absolute; top: 0; right: auto; bottom: 0; left: auto; width: 265px; height: 100vh ; overflow: auto; -webkit-overflow-scrolling: touch; -webkit-transition: width 0.3s ease; -moz-transition: width 0.3s ease; -ms-transition: width 0.3s ease; -o-transition: width 0.3s ease; transition: width 0.3s ease; }
.snap-drawer-left {left: 0; z-index: 1; }
.snap-drawer-right {right: 0; z-index: 1; }
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {display: none;}
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {width: 100%;}


/* styles */
.snap-content {
  background: #1C1C1C;
}

.snap-drawers {
  background: #BEBEBE;
}

.snap-drawer {
  #selfie {
    text-align: center;
    a {border-bottom: 1px solid #ffffff;
    display: inline-block;
    min-width: 70% !important;}
    img {@include border-radius(1000px); margin:20px auto;
      &:hover {@include box-shadow(0 0 0 4px #404040)}
    }
  }
  &> *:last-child {margin-bottom: 60px;}
  .g {line-height: 0;}
}

.snap-drawer h3 {
    font-size: 18px;
    font-weight: normal;
    background:#3d3d3d;
    line-height: 18px;
    margin: 0 !important;
    padding: 15px !important;
    text-indent: 20px;
}


.snap-drawer > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 70%; margin:0 auto 0;
  .widget {margin-top:20px;}
  ul {margin: 0;}
}

.snap-drawer li > a {
    color: #c0c0c0;
    display: block;
    line-height: 32px;
    font-size: 16px;
    text-decoration: none;
    text-shadow: none;
}
.snap-drawer li > a:hover {padding-left: 5px; }

.snap-drawer p {
  font-size: 12px;
}
